{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="header-info-block">
            <h1>Cart</h1>
            <p>Online shop for Jujutsu Kaisen Fans</p>
        </div>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Remove From Cart</th>
              </tr>
            </thead>
    {% with cart_products|slice:":-1" as list1%}
        {% for product in list1 %}
            <tbody>
            <tr>
                <td>{{ product.product.name }}</td>
                <td>{{ product.count }}</td>
                <td>{{ product.product.price }}$</td>
                <td><form action='{% url "cart-delete" product.product.pk %}' method="POST">
                    {% csrf_token %}
                    <input type="number" id="quantity" name="quantity" required>
                    <input class="btn btn-primary" type="submit" value="REMOVE">
		        </form>
                </td>
            </tr>
        {% endfor %}
    {% endwith %}
    {% with cart_products|slice:"-1:" as list2%}
            <tr>
                {% for sub in list2 %}
                <td>Total: {{ sub }}$</td>
                {% endfor %}
            </tr>
    {% endwith %}
        </tbody>
      </table>
        <div class="task-form">
                <form action='{% url "order"%}' method="POST">
                    {% include "order/order_form.html" with button_text="ORDER" %}
                </form>
            </div>
            
        {% if is_paginated %}

        {% include 'partial/pagination.html' %}

    {% endif %}

{% endblock %}