{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="header-info-block">
            <h1>Online Shop</h1>
            <p>Online shop for Jujutsu Kaisen Fans</p>
        </div>
    
    <div class="task">
        {% if user.is_authenticated %}
            <h2>Time spent on this Web Site:</h2>
            {% with time|slice:":1" as list1 %}
            {% for days in list1 %}
            <p>Days: {{ days }}</p>
            {% endfor %}
            {% endwith %}
            {% with time|slice:"1:2" as list2 %}
            {% for hours in list2 %}
            <p>Hours: {{ hours }}</p>
            {% endfor %}
            {% endwith %}
            {% with time|slice:"-1:" as list3 %}
            {% for minutes in list3 %}
            <p>Minutes: {{ minutes }}</p>
            {% endfor %}
            {% endwith %}
            <h2>Number of visits of different pages</h2>
            {% for pages in hit %}
                {% for  key, value in pages.items %}
                    <p>{{ key }}: {{value}}</p>
                {% endfor %}
            {% endfor %}
        {% else %}
        <h1>Login First!!</h1>  
    </div>
    {% endif %}
{% endblock %}