{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="header-info-block">
            <h1>Online Shop</h1>
            <p>Online shop for Jujutsu Kaisen Fans</p>
        </div>
    <div class="orders">
    {% if orders %}
        {% for order in orders %}
        <div class="order">
            {% with order|slice:":-1" as list1%}
                {% for sublist in list1 %}
                    <h2>Order on {{ sublist.created_at }}</h2>
                        {% for sub in sublist.order.all %}
                            <p>{{ sub.product.name }}: {{ sub.quantity }} x {{ sub.product.price }}$</p>
                        {% endfor %}
                {% endfor %}
            {% endwith %}
            {% with order|slice:"-1:" as list2%}
                {% for sublist in list2 %}
                    <span>Total: {{ sublist }}$</span>
                {% endfor %}
            {% endwith %}
        </div>
        {% endfor %}
        <hr> 
    {% else %}
        <h2>No orders yet</h2>
    {% endif %}
    </div>  
    {% if is_paginated %}

    {% include 'partial/pagination.html' %}

    {% endif %}
{% endblock %}