{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="header-info-block">
            <h1>Online Shop</h1>
            <p>Online shop for Jujutsu Kaisen Fans</p>
        </div>
    
    {% include 'partial/simple_search.html' %}
    {% for product in products %}
    <div class="task">
            <h2>{{ product.name }}</h2>
            <p>
                <a href="{% url 'product' product.pk %}">See More...</a>
                <form action='{% url "cart-add" product.id %}' method="POST">
                    {% csrf_token %}
			        <input type="number" id="quantity" name="quantity" required>
                    <input class="btn btn-primary" type="submit" value="ADD TO CART">
		        </form>
            </p>
            <hr>
    </div>
    {% endfor %}
    {% if is_paginated %}

    {% include 'partial/pagination.html' %}

    {% endif %}
{% endblock %}